<!DOCTYPE html>
<html>
  <body>
    <h1>This is a json fetch via javascript test</h1>
    <p>
      Please note that this will only work if it is being accessed using
      Decentrabets website. A plain html on your local machine trying to use the
      API will not work due to CORS policy.
    </p>
    <p>
      check console log to see results, also check example2.js to see the
      javascript code
    </p>
    <script>
      console.log("this is example2");

      fetch("http://localhost:3000/bets")
        .then((response) => response.json())
        .then((data) => console.log(data));
    </script>
  </body>
</html>
