<!DOCTYPE html>
<html>
  <body>
    <h1>This is a page to test querystring.</h1>
    <p>type ?name=john&age=25 at the end of the url</p>
    <p>Hi <%= user.name %>, your age is <%= user.age %></p>
    <script></script>
  </body>
</html>
