<!DOCTYPE html>
<html>
  <body>
    <h1>Table based on JSON data.</h1>
    <p>
      This is using XMLHttpRequest. Check console log to see results, also check
      example1.js to see the javascript code
    </p>
    <p>
      Please note that this will only work if it is being accessed using
      Decentrabets website. A plain html on your local machine trying to use the
      API will not work due to CORS policy.
    </p>

    <p id="demo"></p>

    <script>
      console.log("this is example1");
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function () {
        if (xhr.readyState == XMLHttpRequest.DONE) {
          console.log(xhr.responseText);
        }
      };
      xhr.open("GET", "http://localhost:3000/bets", true);
      xhr.send(null);
    </script>
  </body>
</html>
